/******************************************************************
** tags
*******************************************************************/
#tags {
    .posts {
        white-space:nowrap;
        margin-top:0em;
    }

    .entry {
        display:flex;
        margin-bottom: 0.3em;
    }

    .entry-date {
        font-size: 0.7em;
        border-radius: 4px;
        background-color: #e6e6e6;
        display: inline-block;
        min-width: 7em;
        text-align: center;
    }

    .entry-title {
        font-size: 0.8em;
        margin-left: 10px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        display:inline-block;
    }

    .entry-title a {
        text-decoration: none;
    }
}
